@import "rfs/scss";
@import "@/styles/variables";

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--BG);
  padding: 11px 40px 11px 24px;

  &__menu {
    display: flex;
    align-items: center;
  }
}

.radio-header__container {
  display: flex;
  margin-right: 87px;
  .radio__container {
    margin-right: 24px;

    &:last-child {
      margin-right: 0px;
    }
  }
}

@include Small-Tablet() {
  .header {
    padding: 11px 10px;
    flex-wrap: wrap;

    &__menu {
      width: 100%;
      justify-content: space-between;
    }

    .radio-header__container {
      margin-left: 0px;
      margin-right: 10px;
      flex-wrap: wrap;
    }
  }
}

@include Mini() {
  .header {
    &__menu {
      margin-top: 10px;
      flex-wrap: wrap;

      .headerUserMenu {
        margin: 10px 0px 0px auto;
      }
    }
  }
}
