@import "@/styles/variables";
@import "rfs/scss";

.optionButton {
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
  background: none;
  cursor: pointer;

  &:focus {
    outline: 1px solid $Primary;
  }

  &__dot {
    display: block;
    width: 3px;
    height: 3px;
    border-radius: 100%;
    background-color: $Primary;
    margin-bottom: 4px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
