@import "rfs/scss";
@import "@/styles/variables";

.new-password-form {
  &__title {
    text-align: center;
    margin-bottom: 51px;
  }

  &__wrapper {
    display: grid;
    gap: 12px;
    max-width: 700px;
    margin: auto;
  }

  &__submit-button {
    display: block;
    margin-top: 37px;
    max-width: 182px;
  }
}
