@import "rfs/scss";
@import "@/styles/variables";

.optionButton {
  border: none;
  outline: none;
  padding: 0px 3px;
  margin: 0;
  margin-left: 20px;
  background: none;
  cursor: pointer;

  &:hover,
  &:focus {
    outline: none;

    .dot {
      background-color: var(--Secondary);
    }
  }

  &:focus-visible {
    outline: 1px solid var(--Primary);
    outline-offset: 2px;
  }

  &__dot {
    margin-bottom: 4px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
