@import "rfs/scss";
@import "@/styles/variables";

.reset-form {
  justify-content: center;
  display: grid;

  &__title {
    text-align: center;
    margin-bottom: 51px;
  }

  &__text {
    @include Font(14px, 400, 20.8px, var(--Primary));
    text-align: center;
    max-width: 552px;
    margin-bottom: 22px;
  }

  &__buttons {
    display: grid;
    justify-content: center;
    margin-top: 37px;
  }

  &__submit-button {
    margin-bottom: 13px;
    width: 182px;
  }
}
