@import "rfs/scss";
@import "@/styles/variables";

.client-layout {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: var(--BG);
  @include Font(12px, 400, 20px, var(--TextPrimary), 0px, var(--font_second));

  &__wrapper {
    max-width: 1128px;
    margin: auto;
    padding: 0 15px;
    flex: 1;
    width: -webkit-fill-available;
    width: -moz-available;

    .breadcrumbs {
      margin: 30px 0px;
    }
  }

  .header {
    padding-left: 0;
    padding-right: 0;
  }

  .pageContainer__main {
    padding: 0;
  }

  .button {
    border-radius: 30px;
  }

  .clientPage {
    &__main-title {
      @include font-size(40px);
      line-height: 45.4px;
      text-transform: uppercase;
      color: var(--Primary);
    }

    &__container {
      display: grid;
      border-radius: 10px;
      background: #fff;
      box-shadow: 0px 0px 30px 0px rgba(202, 221, 255, 0.55);
      padding: 32px 53px 38px 37px;
    }
  }

  .client-info {
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    top: 0;
    display: flex;
    align-items: center;
    padding: 4px 12px;
    border-radius: 10px;
    background: #e5ecf9;
    color: var(--ClientMain);
    box-shadow: 0px 0px 14px 0px rgba(53, 64, 82, 0.05);
    line-height: 20px;
    letter-spacing: 0.1px;

    &__icon {
      margin-right: 10px;
    }

    &.danger {
      background: var(--Danger);
      color: #fff;
    }
  }
}

.clientPageContainer {
  justify-content: space-between;
  margin-bottom: 90px;

  &__main {
    max-width: 863px;
  }
}

.clientPopUp {
  box-shadow: 0px 0px 30px 0px rgba(202, 221, 255, 0.55);

  .form__buttons {
    .button {
      @include Font(14px, 600, 20.4px, var(--Secondary), 0.06px, var(--font));

      &_primary,
      &_danger {
        color: #ffffff;
        padding: 10px 68px;
      }
    }

    margin-top: 50px;
  }

  .button {
    border-radius: 30px;

    &_primary {
      &:hover {
        &:not(.button_disabled) {
          filter: drop-shadow(0px 3px 10px #5086c3);
        }
      }
    }

    &_danger {
      &:hover {
        filter: drop-shadow(0px 3px 10px #f43658);
      }
    }
  }

  .workspaces-form {
    font-family: "Poppins", sans-serif;

    &__title {
      font-size: 40px;
      line-height: 45.4px;
      text-transform: uppercase;
    }

    &__row {
      display: grid;
      align-items: center;
      grid-template-columns: 45% 45%;
      gap: 50px;
    }
  }

  .login-form__link {
    @include Font(12px, 400, 25.9px, var(--Secondary), -0.219px);
    text-decoration-line: underline;
  }
}

.clientPopUp,
.client-layout {
  .input {
    @include Font(14px, 400, 25.9px, var(--TextPrimary), -0.219px);
    border-radius: 7px;
    outline: 1px solid var(--BGClient);
    padding: 9px 22px;
    background: none;

    &__label {
      @include Font(12px, 400, 21px, var(--Primary), 0.079px);
      margin-bottom: 10px;
    }

    &::placeholder {
      color: #cddaf2;
    }

    &__message {
      @include Font(10px, 400, 25.9px, var(--Danger), -0.219px);
      margin-top: 5px;
    }
  }
}

@include Tablet() {
  .clientPopUp {
    .workspaces-form {
      &__row {
        display: grid;
        align-items: center;
        grid-template-columns: 100%;
        gap: 10px;
      }
    }
  }
}

@include Small-Tablet() {
  .client-layout {
    .clientPage {
      &__container {
        padding: 15px;
      }
    }
  }
}
