@import "rfs/scss";
@import "@/styles/variables";

.button {
  border-radius: 5px;
  background: var(--BGItem);
  color: var(--TextSecondary);
  padding: 8px 31px;

  &_primary {
    background: var(--Secondary);
    color: #ffffff;
  }

  &_danger {
    background: var(--Danger);
    color: #ffffff;
  }

  &_disabled {
    filter: brightness(0.5);
    cursor: auto;
  }
}
