@import "rfs/scss";
@import "@/styles/variables";

.button {
  cursor: pointer;
  border-radius: 5px;
  border: none;
  background: var(--TextSecondary);
  color: var(--TextPrimary);
  padding: 8px 31px;

  &_primary {
    background: var(--Secondary);
    color: #ffffff;
  }

  &_danger {
    background: var(--Danger);
    color: #ffffff;
  }
}
