@import "rfs/scss";
@import "@/styles/variables";

.breadcrumbs {
  margin: 10px 0px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  &__item {
    &_active {
      color: var(--Primary);
    }

    &_last {
      cursor: auto;
    }
  }

  &__divider {
    margin: 0px 5px;
  }
}
