// @import "fonts";
// @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100&family=Nunito:wght@400;600;700&family=Poppins:wght@400;500;600;700&display=swap');

@import "normalize";
@import "variables";
@import "rfs/scss";

.visibility-hidden {
  position: absolute;
  width: 0px;
  height: 0px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  outline: 0;
  outline-offset: 0;
  pointer-events: none;
  /* visibility: hidden; */
}

.no-scroll {
  overflow: hidden;
}

body {
  background: var(--BGSecond);
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: 400;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.box-container {
  background: var(--BG);
  border-radius: 10px;
  box-shadow: 0px 0px 14px 0px rgba(53, 64, 82, 0.05);
}

.scroll-lock {
  overflow: hidden;
  height: 100vh;
}

.form {
  width: 100%;
  max-width: 1800px;

  &__title {
    margin-bottom: 15px;
  }

  &__wrapper,
  &__section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__legend {
    margin-bottom: 6px;
  }

  &__section {
    width: 50%;

    .form__fieldset {
      width: 48%;
      &:nth-child(2n) {
        margin-right: 0;
      }
    }
  }

  &__fieldset {
    margin: 0;
    padding: 0;
    border: none;
    display: block;

    .input__wrapper {
      margin-bottom: 13px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__block {
    display: grid;
    height: fit-content;
    gap: 8px;
    margin-bottom: 50px;
  }
}

// [title]:hover:after {
//   display: block;
//   opacity: 1;
//   transition: all 0.1s ease 0.5s;
//   visibility: visible;
// }

// [title]:after {
//   display: none;
//   content: attr(title);
//   background-color: #00ff00;
//   color: #111;
//   font-size: 150%;
//   position: absolute;
//   padding: 1px 5px 2px 5px;
//   bottom: -1.6em;
//   // left: 100%;
//   // white-space: nowrap;
//   box-shadow: 1px 1px 3px #222222;
//   opacity: 0;
//   border: 1px solid #111111;
//   z-index: 99999;
//   visibility: hidden;
// }

// [title] {
//   position: relative;
// }

.drag {
  width: 9px;
  height: 15px;
  display: flex;
  margin-right: 39px;

  &.dragOn {
    cursor: grab;
  }

  &.dragging {
    cursor: grabbing;
  }

  .dot__col {
    &:first-child {
      margin-right: 3px;
    }

    .dot {
      margin-bottom: 3px;

      &:last-child {
        margin-bottom: 0px;
      }
    }
  }
}

.text {
  @include Font(14px, 400, 21px, var(--TextSecondary), 0.07px);
}

.text-second {
  @include Font(12px, 400, 17px, var(--TextPrimary), 0.6px);
}

.subtitle {
  @include Font(16px, 400, 21px, var(--Primary), 0.09px);
}

.subtitle-second {
  @include Font(14px, 600, 21px, var(--Primary), 0.07px);
}

.caption {
  @include Font(12px, 400, 19.92px, var(--TextSecondary), 0.3px);
}

.title {
  @include Font(32px, 700, 38.4px, var(--TextPrimary), -0.219px);
}

.heading-h2 {
  @include Font(28px, 600, 33.6px, var(--TextPrimary), -0.233px);
}

.title-second {
  @include Font(24px, 600, 28.8px, var(--TextPrimary));
}

.heading-h5 {
  @include Font(20px, 600, 24px, var(--TextPrimary));
}

.heading-h6 {
  @include Font(14px, 600, 20.4px, var(--TextPrimary), 0.06px);
}

.pageContainer {
  display: flex;

  &__main {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0px 39px 20px;
    width: 100%;
  }

  &-MainSection {
    width: 100%;

    &__top {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}

*:focus {
  outline: none;
}

*:focus-visible {
  outline: 1px solid var(--Primary);
  outline-offset: 2px;
}
button {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.skeleton {
  background: (--BGSecond);
  height: 100px;
  width: 100%;
}

.dot {
  display: block;
  width: 3px;
  height: 3px;
  border-radius: 100%;
  background-color: var(--Primary);
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOutOpacity {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeIN {
  0% {
    display: none;
  }
  100% {
    display: block;
  }
}

@keyframes fadeOut {
  0% {
    display: block;
  }
  100% {
    display: none;
  }
}

@include Wide-Screen() {
  #root {
    max-width: 1920px;
    margin: auto;
  }
}

@include Small-Tablet() {
  .pageContainer {
    &__main {
      padding: 0px 39px 20px 0px;
      box-sizing: border-box;
    }
  }

  .form {
    &__fieldset,
    &__section {
      width: 100%;
    }

    &__section {
      margin-top: 20px;
    }
  }
}

@include Mobile() {
  .pageContainer {
    display: block;

    &__main {
      padding: 0px 10px 20px;
      width: 100%;
    }

    &-MainSection__top {
      flex-wrap: wrap;
    }
  }

  .drag {
    margin-right: 10px;
  }
}
