@import "rfs/scss";

:root {
  --Primary: #272557;
  --Secondary: #1565c0;
  --TextPrimary: #1f1f1f;
  --TextSecondary: #757575;
  --Success: #43a047;
  --Danger: #f44336;
  --BG: #ffffff;
  --BGSecond: #f2f2f5;
  --BGItem: #f8f8f8;
  // light them colors
  --Primary-Light: #272557;
  --Secondary-Light: #1565c0;
  --TextPrimary-Light: #1f1f1f;
  --TextSecondary-Light: #757575;
  --Success-Light: #43a047;
  --Danger-Light: #f44336;
  --BG-Light: #ffffff;
  --BGSecond-Light: #f2f2f5;
  --BGItem-Light: #f8f8f8;
  // dark them colors
  --Primary-Dark: #ffffff;
  --TextPrimary-Dark: #ffffff;
  --BG-Dark: #292929;
  --BGSecond-Dark: #202020;
  --BGItem-Dark: #181818;

  // fonts
  --font: "Nunito", sans-serif;
  --font_second: "Poppins", sans-serif;
}

@mixin Font(
  $font-size: 14px,
  $font-weight: 600,
  $line-height: normal,
  $color: var(--Primary),
  $letter-spacing: 0px,
  $font-family: var(--font)
) {
  font-family: $font-family;
  @include font-size($font-size);
  // font-size: $font-size;
  font-style: normal;
  font-weight: $font-weight;
  line-height: $line-height;
  letter-spacing: $letter-spacing;
  color: $color;
  margin: 0px;
}

/* Wide-Screen */
@mixin Wide-Screen() {
  @media screen and (min-width: 1920px) {
    @content;
  }
}

/* Full-Screen */
@mixin Full-Screen() {
  @media (max-width: 1920px) {
    @content;
  }
}

/* Desktop */
@mixin Desktop() {
  @media (max-width: 1440px) {
    @content;
  }
}

/* Laptop */
@mixin Laptop() {
  @media (max-width: 1200px) {
    @content;
  }
}

/* Tablet */
@mixin Tablet() {
  @media (max-width: 992px) {
    @content;
  }
}

/* Small-Tablet */
@mixin Small-Tablet() {
  @media (max-width: 768px) {
    @content;
  }
}

/* Mobile */
@mixin Mobile() {
  @media (max-width: 480px) {
    @content;
  }
}

/* Mini */
@mixin Mini() {
  @media (max-width: 320px) {
    @content;
  }
}
