@import "rfs/scss";
@import "@/styles/variables";

.posts {
  &__top {
    padding: 32px 35px 23px;
  }

  &__selectors {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;

    .double {
      grid-column: span 2;
    }
  }

  &__markersContainer {
    margin-top: 15px;
    gap: 17px;
    flex-wrap: wrap;
  }

  &__sort {
    margin-top: 37px;
    justify-content: space-between;

    .container {
      .dropdown {
        margin: 0px 15px;

        &__current {
          width: auto;
        }

        &__currentItem {
          font-size: 14px;
          font-weight: 600;
          letter-spacing: 0.07px;
          margin-right: 10px;
        }
      }
    }

    &_bottom {
      margin: 0px;
      padding: 22px 50px;
    }

    &-time {
      .dropdown {
        &__current {
          min-width: 71px;
        }
      }
    }
  }

  &__list {
    border-top: 1px solid var(--TextPrimary);
    border-bottom: 1px solid var(--TextPrimary);
  }
}

.buttonsPosts,
.load-button,
.posts__sort,
.posts__markersContainer,
.posts__sort,
.posts__sort .container {
  display: flex;
  align-items: center;
}

.buttonsPosts {
  button {
    margin-right: 23px;

    &:last-child {
      margin-right: 0;
    }
  }
}

@include Tablet() {
  .posts {
    &__sort_bottom {
      flex-wrap: wrap;
      padding: 12px 35px;

      .container {
        margin: 5px 0 0 auto;
        padding-left: 15px;
      }
    }
  }
}

@media (max-width: 520px) {
  .pageContainerPosts-MainSection__top {
    flex-wrap: wrap;
  }

  .buttonsPosts {
    margin: 0px 0px 0px auto;
    flex-wrap: wrap;

    .button {
      &:last-child {
        margin: 10px 0px 0px auto;
      }
    }
  }

  .posts {
    &__selectors {
      grid-template-columns: auto;

      .double {
        grid-column: auto;
      }
    }

    &__sort {
      flex-wrap: wrap;

      .container {
        &:first-child {
          margin-bottom: 10px;
        }

        &:last-child {
          margin: 0px 0px 0px auto;
        }
      }
    }
  }
}

@include Mobile() {
  .posts {
    &__top {
      padding: 32px 15px 23px;
    }

    &__sort_bottom {
      padding: 12px 15px;

      .container {
        padding-left: 0px;

        &:last-child {
          margin: 5px 0 0 auto;
        }
      }
    }
  }
}
