@import "rfs/scss";
@import "@/styles/variables";

.search {
  color: var(--TextPrimary);
  font-size: 18px;
  border: none;
  outline: none;
  padding: 15px 30px;

  &__wrapper {
    display: flex;
    height: fit-content;
    width: max-content;
    border-radius: 5px;
    outline: 1px solid var(--TextSecondary);
    background: var(--BG);

    &:focus-within {
      outline: 2px solid var(--Secondary);
    }
  }

  &__button {
    display: flex;
    cursor: pointer;
    border-radius: 5px;
    background: var(--Secondary);
    outline: 1px solid var(--Secondary);
    border: none;
    margin: 0;
    padding: 16px;
    margin-right: -1px;
    box-sizing: border-box;
  }
}
