@import "rfs/scss";
@import "@/styles/variables";

.login-form {
  &__title {
    text-align: center;
  }

  &__wrapper {
    justify-content: center;
    display: grid;
  }

  &__submit-button {
    margin: 34px auto 8px;
    width: 182px;
  }

  &__inputs {
    display: grid;
    gap: 15px;
    width: 515px;
  }

  &__logged-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    .checkbox__container {
      margin-right: 10px;
    }
  }

  &__create-block {
    @include Font(12px, 400, 45.4px, var(--Primary), -0.219px);
    text-align: center;
  }
}

@include Small-Tablet() {
  .login-form {
    &__inputs {
      width: auto;
    }
  }
}
