@import "rfs/scss";
@import "@/styles/variables";

.headerUserMenu {
  display: flex;
  align-items: center;

  &__avatar {
    margin-right: 20px;
  }

  &__status {
    display: flex;
    align-items: baseline;

    &_label {
      margin-right: 4px;
      width: 8px;
      height: 8px;
      border-radius: 50%;

      &.online {
        background-color: var(--Success);
      }

      &.offline {
        background-color: var(--Danger);
      }
    }
  }
}
