@import "rfs/scss";
@import "@/styles/variables";

.headerUserMenu {
  display: flex;
  align-items: center;

  &__avatar {
    margin-right: 20px;
    border-radius: 100%;
  }

  &__name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 200px;
  }

  &__status {
    display: flex;
    align-items: baseline;

    &_label {
      margin-right: 4px;
      width: 8px;
      height: 8px;
      border-radius: 50%;

      &.online {
        background-color: var(--Success);
      }

      &.offline {
        background-color: var(--Danger);
      }
    }
  }

  &__button {
    display: flex;
    align-items: center;
    margin: 0 0 0 auto;
    font-weight: 500;

    &-icon {
      margin-right: 10px;
    }

    &:hover {
      color: var(--Secondary);

      .headerUserMenu__button-icon {
        filter: invert(32%) sepia(86%) saturate(973%) hue-rotate(182deg) brightness(92%) contrast(99%);
      }
    }
  }
}
