@import "rfs/scss";
@import "@/styles/variables";

.headerDropDownMenu {
  // border-top: 1.5px solid var(--Primary);
  right: 40px;
  top: 66px;
  padding: 23px 0px;

  &__link {
    font-weight: 400;
    padding: 0px 33px;
    margin-bottom: 13px;
    text-align: start;

    &:last-child {
      margin-bottom: 0;
    }

    &:hover,
    &:focus {
      color: var(--Secondary);
      outline: none;
    }
  }
}
