@import "rfs/scss";
@import "@/styles/variables";

.error {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: var(--BG);
  @include Font(12px, 400, 20px, var(--TextPrimary), 0px, var(--font_second));

  &__wrapper {
    max-width: 1128px;
    margin: auto;
    padding: 0 15px;
    flex: 1;
    width: -webkit-fill-available;
    width: -moz-available;
  }

  .header {
    padding-left: 0;
    padding-right: 0;
  }

  &__container {
    margin: 28px auto 80px;
    text-align: center;
    display: grid;
    justify-content: center;
    gap: 38px;
  }

  &__title {
    @include Font(24px, 500, 45.4px, var(--ClientMain), 3.281px);
    text-transform: uppercase;
  }

  &__code {
    display: flex;
    align-items: center;
    justify-content: center;
    @include Font(310px, 800, 45px, var(--Primary));
    @include rfs(233px, line-height);
  }

  &__text {
    @include Font(18px, 400, 28.4px, var(--Primary));
    text-align: center;
    max-width: 415px;
    margin: 0 auto;
  }

  &__link {
    padding: 10px 54px;
    border-radius: 30px;
    background: var(--Secondary);
    color: #fff;
    width: fit-content;
    margin: 0 auto 9px;
  }

  &__buttons {
    display: grid;
  }

  &__button {
    @include Font(14px, 400, 28.4px, var(--Secondary));
    text-decoration-line: underline;
    margin: 0 auto;
  }
}
