@import "rfs/scss";
@import "@/styles/variables";

.form {
  &__buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 40px;

    .form__button {
      &:first-child {
        margin-right: 22px;
      }
    }
  }

  &__button {
    padding: 8px 51px;
  }
}

@include Mobile {
  .form {
    &__buttons {
      display: grid;
      gap: 10px;

      .form__button {
        &:first-child {
          margin-right: 0px;
        }
      }
    }
  }
}
