@import "rfs/scss";
@import "@/styles/variables";

.dropdownSelect {
  position: relative;
  width: auto;
  max-height: 50px;

  &__current,
  &__container {
    border: 1px solid var(--TextSecondary);
    border-radius: 5px;
    background: var(--BG);
  }

  &__current {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    margin: 0;
    padding: 14px 20px 14px 30px;
    width: 100%;

    &:focus-visible {
      outline: 1px solid var(--Primary);
      outline-offset: 2px;
    }
  }

  &_open {
    .dropdownSelect {
      &__icon {
        border-bottom: 5px solid var(--Primary);
        border-top: 0px;
      }

      &__container {
        display: block;
        animation: fadeInOpacity 0.5s ease-in-out;
      }
    }
  }

  &__mark {
    position: absolute;
    left: 5px;
    border-radius: 100%;
    box-sizing: border-box;
    padding: 1px 6px 0px;
    background: var(--Secondary);
    color: #ffffff;
    height: 20px;
    width: 20px;
    display: flex;
    justify-content: center;
    font-size: 12px;
    align-items: center;
  }

  &__currentItem {
    margin-right: 10px;
  }

  &__icon {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid var(--Primary);
    border-bottom: 0px;
  }

  &__container {
    padding: 25px 32px;
    box-sizing: border-box;
    position: relative;
    margin-top: 10px;
    display: none;
    outline: none;
    position: absolute;
    z-index: 11;
    width: max-content;

    &::before {
      content: "";
      display: block;
      height: 15px;
      width: 15px;
      background-color: inherit;
      border: inherit;
      position: absolute;
      top: -7.5px;
      left: 20%;
      right: auto;
      clip-path: polygon(0% 0%, 100% 100%, 0% 100%);
      transform: rotate(135deg);
      border-radius: 0 0 0 0.25em;
      pointer-events: none;
    }

    &_left {
      left: 0px;
      right: auto;
    }

    &_right {
      left: auto;
      right: 0px;

      &:before {
        left: auto;
        right: 20%;
      }
    }
  }

  &__title {
    margin-bottom: 15px;
  }

  &__buttons {
    display: flex;
    margin-top: 30px;

    .button {
      &:first-child {
        margin-right: 17px;
      }
    }
  }

  &__list {
    display: grid;
    gap: 9px;
    max-height: 100px;
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 3px;
      background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #d7d7d7;
      border-radius: 10px;
      width: 3px;
    }

    &::-webkit-scrollbar-track {
      background-color: transparent;
      width: 3px;
    }

    .radio-label {
      font-size: 12px;
      font-weight: 400;
      line-height: 17px;
    }

    .calendar-date {
      height: fit-content;

      .MuiPickersCalendarHeader-root {
        margin-top: 0;
      }

      .MuiDayCalendar-slideTransition {
        min-height: fit-content;
      }

      .MuiPickersSlideTransition-root {
        min-height: 200px;
      }
    }

    .calendar-time {
      justify-content: center;

      &__buttons {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        .MuiSvgIcon-fontSizeMedium {
          color: var(--TextSecondary);
        }

        .MuiButton-text {
          min-width: 38px;
          height: 30px;
          width: 38px;
        }
      }

      .MuiPickersLayout-contentWrapper,
      .MuiTypography-overline {
        display: none;
      }

      .MuiPickersLayout-toolbar {
        padding: 0;
      }

      .MuiTypography-h3 {
        @include Font(28px, 600, 33.6px, var(--Primary), -0.233px);
      }
    }
  }

  &__calendar-container {
    max-height: fit-content;
  }
}

@include Mobile() {
  .dropdownSelect {
    &__buttons {
      flex-wrap: wrap;
      display: grid;
      gap: 10px;
    }

    &__container {
      width: 100%;
    }
  }
}
