@import "rfs/scss";

.asideMenu {
  background-color: var(--BG);

  &__icon {
    margin-right: 20px;
  }

  &__link {
    display: flex;
    padding: 12px 24px;
    background-color: var(--BGSecond);
  }
}
