@import "rfs/scss";
@import "@/styles/variables";

.form {
  width: 100%;
  max-width: 1800px;

  &__title{
    margin-bottom: 15px;
  }

  &__wrapper,
  &__section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__legend {
    margin-bottom: 6px;
  }

  &__section {
    width: 50%;

    .form__fieldset {
      width: 48%;
      &:nth-child(2n) {
        margin-right: 0;
      }
    }
  }

  &__fieldset {
    margin: 0;
    padding: 0;
    width: 43.33%;
    margin-right: 10px;
    border: none;
    display: block;

    .input__wrapper {
      margin-bottom: 13px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__block {
    display: grid;
    height: fit-content;
    gap: 8px;
    margin-bottom: 50px;

    .radio-text {
      padding-left: 25px;
    }

    .switch__container {
      + .radio-text {
        padding-left: 43px;
      }
    }

    &:nth-child(3),
    &:nth-child(4) {
      margin-bottom: 0;
    }
  }

  &__buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 40px;

    .form__button {
      &:first-child {
        margin-right: 22px;
      }
    }
  }

  &__button {
    padding: 8px 51px;
  }
}

@include Small-Tablet() {
  .form {
    &__fieldset,
    &__section {
      width: 100%;
    }

    &__section {
      margin-top: 20px;
    }
  }
}
