@import "rfs/scss";
@import "@/styles/variables";

.form {
  &__section {
    width: 50%;

    .form__fieldset {
      width: 48%;
      &:nth-child(2n) {
        margin-right: 0;
      }
    }
  }

  &__fieldset {
    width: 43.33%;
    margin-right: 10px;

    .input__wrapper {
      margin-bottom: 13px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__block {
    .radio-text {
      padding-left: 25px;
    }

    .switch__container {
      + .radio-text {
        padding-left: 43px;
      }
    }

    &:nth-child(3),
    &:nth-child(4) {
      margin-bottom: 0;
    }
  }
}
