@import "rfs/scss";
@import "@/styles/variables";

.form {
  width: 85vw;
  max-width: 1800px;

  &__wrapper,
  &__section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__legend {
    margin-bottom: 6px;
  }

  &__section {
    width: 50%;

    .form__fieldset {
      width: 48%;
      &:last-child {
        margin-right: 0;
      }
    }
  }

  &__fieldset {
    margin: 0;
    padding: 0;
    width: 43.33%;
    margin-right: 10px;
    border: none;
    display: grid;
    gap: 13px;
  }

  &__block {
    display: grid;
    height: fit-content;
    gap: 8px;

    .radio-text {
      padding-left: 25px;
    }
  }

  &__buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 40px;

    .form__button {
      &:first-child {
        margin-right: 22px;
      }
    }
  }

  &__button {
    padding: 8px 51px;
  }
}
