@import "rfs/scss";
@import "@/styles/variables";

.dropdown {
  position: relative;
  padding: 5px 10px;

  &__current,
  &__button,
  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
  }

  &__currentItem {
    color: var(--TextSecondary);
  }

  &__item {
    color: var(--TextSecondary);
    padding: 3px 0px;

    &:focus,
    &:hover {
      color: var(--Secondary);
    }
  }

  &__options {
    width: 100%;
    list-style: none;
    margin: 5px 0px 0px;
    padding: 5px 10px;
    box-sizing: border-box;
    position: absolute;
    left: 0px;
    background: var(--BG);
  }

  &__current {
    width: 125px;
    background: none;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;

    &:focus-visible {
      outline: 1px solid var(--Primary);
      outline-offset: 2px;
    }
  }

  &_open {
    .dropdown__icon {
      transform: rotate(0deg);
    }
  }

  &__icon {
    transform: rotate(180deg);
    display: flex;
    color: var(--Primary);
    opacity: 0.5;
    filter: invert(13%) sepia(15%) saturate(5591%) hue-rotate(221deg) brightness(96%) contrast(94%);

    &.dark {
      filter: invert(100%) sepia(0%) saturate(7472%) hue-rotate(114deg) brightness(109%) contrast(97%);
    }
  }
}
